<html>
<head>
  <title>sup</title>
</head>
<body>
  1234
  <script type="text/javascript" src="/js/socket.io.js"></script>
  <script type="text/javascript" src="/js/sails.io.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>